# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environments
venv/
.venv/
env/

# Saved Models
*.pkl

# Private datasets
data/

# Operating System files
.DS_Store
Thumbs.db

# IDE Settings
.vscode/
.idea/
